body {
    font-family: 'Loved by the King', cursive;
    background-color: #F0F0F0;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1{
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 40px;
}

.container {
    background-color: #F3A4CC;
    border-radius: 25px;
    padding: 15px;
    margin-left: 38%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.screen {
    height: 50px;
    width: 250px;
    font-size: 20px;
    margin-bottom: 10px;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

.btn, .operator {
    width: 50px;
    height: 50px;
    font-size: 20px;
    background-color: #A15DEA;
    font-family: 'Loved by the King', cursive;
    font-size: 30px;
    color: #FFF;
    border: none;
    border-radius: 25%;
    cursor: pointer;
}

.btn:hover, .operator:hover {
    background-color: #C9C0FF;
}

#resultado{
    font-family: 'Loved by the King', cursive;
    font-size: 40px;
}